<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Software Requirements Engineer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/styles.css">
  </head>

  <body>

    {{content}}
    <footer class="glass footer">
        <div class="container">
            <p>© 2026 Software Requirements Engineer</p>
            <div class="legal-pages">
            {%- for my_page in site.legal_pages -%}
              <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endfor -%}
          </div>
        </div>
    </footer>

  </body>

</html>
